<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Completion</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(g) { %>
    <tr>
      <td><%= g.title %></td>
      <td><%= g.completion %></td>
      <td><a href="/games/<%= g._id %>">ACHIEVEMENTS</a></td>
      <td><button class="support-btn" data-modal-target="#modal">NEW ACHIEVEMENT</button>
        <div class="modal" id="modal">
          <div class="modal-header">
            <div class="title">modal title</div>
            <button data-close-button class="close-button">&times;</button>
          </div>
          <div class="modal-body">
            <!-- Achievements -->
            <br /><br />
            <h2>New Achievement</h2>
            <form
              id="add-achieve-form"
              method="POST"
              action="/games/<%= g._id %>/achievements"
            >
              <label>Name:</label>
              <input type="text" name="title"></input>
              <label>Description:</label>
              <textarea name="description"></textarea>
              <input type="submit" value="Add Achievement" />
            </form>
          </div>
        </div>
        <div id="overlay"></div></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<!-- <section>
  <button data-modal-target="#modal">Open Modal</button>
  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">modal title</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quisquam
      deserunt consequuntur sunt iste nulla provident non rem facilis a,
      incidunt earum officia et voluptas. Quas magnam nam adipisci
      exercitationem, quisquam excepturi officia eos culpa quaerat animi vel,
      recusandae possimus expedita dolores accusantium distinctio pariatur
      aliquid quo. Soluta labore amet deserunt molestiae eveniet laboriosam
      dolorem veniam voluptatum nam laborum quia ratione exercitationem a et
      nostrum ab porro, nemo autem itaque aut voluptatibus. Iste nobis, eius
      ducimus eligendi est quisquam recusandae. 
    </div>
  </div>
  <div id="overlay"></div>
</section> -->

<%- include('../partials/footer') %>
