<%- include('../partials/header') %>

<section id="show-page">
  <div>Title:</div>
  <div><%= game.title %></div>
  <div>Completion:</div>
  <div><%= game.completion %></div>
</section>
<!-- Achievements -->
<br /><br />
<h2>Achievements</h2>
<form
  id="add-achieve-form"
  method="POST"
  action="/games/<%= game._id %>/achievements"
>
  <label>Name:</label>
  <input type="text" name="Name"></input>
  <label>Description:</label>
  <textarea name="Description"></textarea>
  <input type="submit" value="Add Achievement" />
</form>

<% if (game.achievements.length) { %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% game.achievements.forEach(function(a) { %>
    <tr>
      <td><%= a.Name %></td>
      <td><%= a.Description %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Achievements Yet</h5>
<% } %> <%- include('../partials/footer') %>
